@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@font-face {
  font-family: figTree;
  src: url("./fonts/Figtree-VariableFont_wght.ttf");
}

.figTree{
  font-family: figTree;
}

*{
  box-sizing: border-box;
  user-select: none;
  user-select: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: figTree;
  width: 100%;
  max-width: 1600px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F9E9DA;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F9E9DA;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F0EEFF;
}

::-webkit-scrollbar-corner {
  background: transparent;
}